<p>Database Usage: user account information, and user's profile is stored in MySQL
</p>
<br/>

<p>Ajax usage: When user login/register/update-file, their information will be transmitted to the database,
  and ajax will receive the information from database
</p>
<br/>

<p>Theme – All pages on the website have to have an overall theme (similar look and feel) that makes the site consistent,
  For me,<br/> I don't want to use wordpress because I want to practice my own website skill. It is simple, but it looks good
</p>
<br/>


<p>New Library Usage: <b>I use New Library libLibrary to get any user's IP, you can see the IP AT THE FOOTBAR</b>
</p>
<br/>

<p>Javascript Usage: I use Javascript for functions like button alert, update form with the data from ajax, etc
</p>
<br/>

<p>Membership Area: User Login is the Membership area, different types of users have different authorities to access their own pages
</p>
<br/>

<p>General User: User Login is the Membership area, different types of users have different authorities to access their own pages
</p>
<br/>

