
<p>Section 1 – who you are: I am Jianjun Guo</p><br/>
<p>Section 2 – Project Description and why you choose this project:
This project is a simple web for teachers and students, you can register any type of account to login<br/>
  different roles have different authorities, pls try all kinds of account it has, the student can send friend request to the <br/>
  teacher to establish relationship with them, after admin and the teacher agree with that, the teacher and student established the relationship<br/>
  I want to practice more for web(both frontend and backend), this is my motivation to develop this website.<br/>
  And the teacher can send file to the students. pls try these accounts:<br/>
  <b>
    <br>student account: username=guotajun, password=123456
    <br>teacher account: username=t1, password=123456
    <br>admin account: username=admin, password=123456
  </b>
</p><br/>
<p>Section 3 – Description of technology used for your site:
Java AS backend, Angular as frontend, I use New Library libLibrary to get any user's IP, I use ajax to transmit request between backend and frontend,
  and I use javascript for the button alert and other functions.
</p><br/>
<p>Section 4 – What have you learned in this class:
I have learned a lot for the frontend such as, deployment for the aws platform,
  how to use outside
</p><br/>

