<div class="topnav">
  <a routerLink="/admin">Admin</a>
  <a routerLink="/astudent">Students Info</a>
  <a routerLink="/amentor" class="active">Mentors Info</a>
  <a routerLink="/asearch">Search</a>
</div><br/>
<h2 class="hs">All Mentors Information</h2>
<br/>
<table>
  <thead>
  <tr>
    <th>Mentor Id</th>
    <th>Mentor Name</th>
    <th>field</th>
    <th>email</th>
    <th>gender</th>
    <th>current_employer</th>
    <th>title</th>
  </tr>
  </thead>
  <tbody>


  <tr *ngFor="let item of ItemsArray">
    <td>{{item.id}}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.field }}</td>
    <td>{{ item.email }}</td>
    <td>{{ item.gender }}</td>
    <td>{{ item.current_employer }}</td>
    <td>{{ item.title }}</td>
  </tr>
  <button type="button" (click)="previous()" style="background: url('/assets/images/rarrow.png'); min-width: 14px; min-height: 15px; border: seashell;"></button>
  {{showt}}/{{totalNum}}
  <button type="button" (click)="next()" style="background: url('/assets/images/left-arrow.png'); min-width: 18px; min-height: 16px; border: seashell"></button>

  </tbody>
</table>
