<div class="topnav">
  <a routerLink="/student" class="active">Student Home</a>
  <a routerLink="/profile">Info</a>
  <a routerLink="/ssearch">Search Mentor</a>
  <a routerLink="/sfile">File</a>
</div>

<form id="msform">
  <fieldset>
    <h1 class="fs-title">Recommendation</h1>
    <div [innerHtml]="content" class="fs-title"></div>
    <button class="submit" type="button" (click)="ini()">GET MORE</button><br/><br/>
    <button class="submit" type="button" (click)="apply()">Apply</button>
  </fieldset>
</form>
