<p>Project Description and why you choose this project:
  This project is a simple web for teachers and students, you can register any type of account to login<br/>
  different roles have different authorities, pls try all kinds of account it has, the student can send friend request to the <br/>
  teacher to establish relationship with them, after admin and the teacher agree with that, the teacher and student established the relationship<br/>
  And the teacher can send file to the students. pls try these accounts:<br/>
  <b>
    <br>student account: username=guotajun, password=123456
    <br>teacher account: username=t1, password=123456
    <br>admin account: username=admin, password=123456
  </b>
</p><br/>

<p>
  what is it that you want your users to get out of using the site: I hope students and mentors can find their preferred student/mentor easily,<br/>
  this website is more like a social media web.
</p><br/>

<p>
  What problem are you trying to solve for the users of the site:
  Some Angular problem and how to use original ajax in Angular, how to transmit http only cookie, etc
</p><br/>

<p>
  What are the actions that you want the users to take once they have used your site:<br/>
  I hope they(student/teacher) can find their preferred teacher/student.
</p><br/>

